<?= $this->form()->openTag($this->form) ?>
<legend>Registration</legend>
 <fieldset class="formRow"><?= $this->formRow($this->form->get('email')) ?></fieldset>
 <fieldset class="formRow"><?= $this->formRow($this->form->get('password')) ?></fieldset>
 <fieldset class="formRow"><?= $this->formRow($this->form->get('verify')) ?></fieldset>
 <fieldset class="formRow"><?= $this->formRow($this->form->get('tos')) ?></fieldset>
 <fieldset class="formRow"><?= $this->formRow($this->form->get('submit')) ?></fieldset>
<?= $this->form()->closeTag() ?>