html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

body {
    background-color: #DDF;
    margin: 0 20px;
}

#main {
    padding-top: 50px;
    position: relative;
    margin: 20px auto;
    min-width: 800px;
    max-width: 9600px;
}

nav {
    position: absolute;
    top: 0;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 4px 10px;
    border: 1px solid #666;
    border-radius: 6px;
    text-decoration: none;
    background-color: #CCC;
    color: #039;
    display: block;
    font-size: 15px;
}

nav ul li a:hover,
nav ul li a:focus
 {
    background-color: #DDD;
    border-color: #999;
    text-shadow: 2px 2px 1px #FFF;
}

nav ul li a:active {
    background-color: #AAA;
    border-color: #333;
    text-shadow: -1px -1px 1px #000;
    color: #3CF;
}