<?= $this->doctype() ?>

<html lang="en">
 <head>
  <meta charset="utf-8">
<?= $this->headTitle('ZF Skeleton Application')->setSeparator(' - ')->setAutoEscape(false)->setIndent(2) ?>

<?= $this->headMeta()
    ->appendName('viewport', 'width=device-width, initial-scale=1.0')
    ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ->setIndent(2)
?>

<?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
    ->prependStylesheet($this->basePath('css/style.css'))
    ->setIndent(2)
?>

<?= $this->headScript()
    ->prependFile($this->basePath('js/bootstrap.min.js'))
    ->prependFile('https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    ->setIndent(2)
?>

 </head>
 <body>
  <div id="main">
   <div id="messages"><?= $this->flashMessenger()->render() ?></div>
    <div id="content">
<?= $this->content ?>
   </div>
   <nav>
<?= $this->navigation($this->navName)->menu() ?>

   </nav>

   <footer>
    <p>©<?= date('Y') ?> by Thomas Crummett. <a href="<?= $this->url('tos') ?>">Terms of Service</a></p>
   </footer>
  </div>
<?= $this->inlineScript() ?>

 </body>
</html>