<div id="loginForm">
<?= $this->form()->openTag($this->form) ?>
<legend>Login</legend>
 <fieldset class="formRow"><?= $this->formRow($this->form->get('email')) ?></fieldset>
 <fieldset class="formRow"><?= $this->formRow($this->form->get('password')) ?></fieldset>
 <fieldset class="formRow"><?= $this->formRow($this->form->get('submit')) ?></fieldset>
<?= $this->form()->closeTag() ?>
</div>